#main-container{
    margin: 0 auto;
    padding: 50px;
}
#main-container h1 {
    text-align: center;
}

#especialidades-container,#pacientes-container, #medicos-container {
    max-width: 600px;
    margin: 0 auto;
}

#pacientes-form-container, #medicos-form-container{
    max-width: 600px;
    margin: 0 auto;
}
#telefones-container{
    max-width: 300px;
    margin: 0 auto;
}
#paginacao {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

#list-header{
    display: flex;
    margin: 0 auto;
}
